body {
	font-family: 'Press Start 2P', cursive;
	background: #fff url(../images/bg.jpg) fixed no-repeat;
	background-size: cover;
	font-size: 16px;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1; 
    text-align: center;
    display: flex;
}

#contents {
	margin: 20px 0;
	padding: 50px;
	background: rgba(255, 255, 255, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100%;
	border: 2px solid #000;
}

#contents p {
	font-size: 20px;
	margin-bottom: 1em;
	line-height: 1.4;
}

h1 {
	font-family: 'Press Start 2P', cursive;
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 30px;
	color: #f00;
}

h2 {
	font-family: 'Press Start 2P', cursive;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 30px;
	line-height: 1.4;
}

button {
	font-family: 'Oswald', sans-serif;
	
}

.btn.btn-default,
.btn.btn-default:hover,
.btn.btn-default:active,
.btn.btn-default:focus {
	border: 2px solid #fff;
	border-radius: 5px;
	color: #fff;
	font-size: 24px;
}

.btn.btn-default {
	background-color: #000;
}
.btn.btn-default:hover,
.btn.btn-default:active,
.btn.btn-default:focus {
	background-color: #666;
}

.question {
	line-height: 1.4;
}

.option-div {
	margin: 20px;
}

.answer {
	font-family: 'Press Start 2P', cursive;
	cursor: pointer;
	text-decoration: none;
	font-size: 18px;
	color: #f00;
	padding: 10px;
}

.answer:hover {
	text-decoration: none;
	background-color: #f00;
	color: #fff;
}

#answerImage img,
#gameOverImage,
#startImage {
	margin: 15px auto;
	max-height: 300px;
}

.count-down {
	font-family: 'Press Start 2P', cursive;
	margin-top: 30px;
}

.red {
	color: #f00;
}

footer {
	background-color: #000;
	color: #fff;
	border-top: 1px solid #fff;
	padding: 10px;
	font-family: 'Oswald', sans-serif;
}

.social {
    list-style: none;
    float: right;
    font-size: 18px;
    max-width: 200px;
}

.social li {
    float: left;
    margin-right: 10px;
}

.social li a {
    color: #fff;
}

.social li a:hover {
    color: #f00;
}

.social li:last-of-type {
    margin-right: 0;
}